@use 'src/style/reponsive' as repon;
#New {
  padding: 10px 10px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  @include repon.desktop {
    width: 1200px;
    margin: auto;
  }
  .New_text {
    background-color: #034ea1;
    margin: auto;
    color: white;
    font-size: 1.9rem;
    text-align: center;
    padding: 10px 0;
    @include repon.tablet {
      width: 350px;
    }
  }
  .img_width {
    width: 100%;
  }
  .new_list {
    @include repon.tablet {
      display: flex;
    }
    // grid-template-columns: 1fr 1fr;
  }
  .new_sale {
    margin-top: 10px;
    @include repon.tablet {
      margin-left: 10px;
      width: 50%;
    }
    .item_new {
      margin-bottom: 5px;
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-column-gap: 5px;
      .hover {
        &:hover {
          .hover_background {
            transform: translateY(0);
            transition: all 0.7s;
          }
        }
        position: relative;
        overflow-y: hidden;
        .hover_background {
          transform: translateY(100%);
          transition: all 0.7s;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(219, 189, 189, 0.6);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          .logo_inter {
            width: 20px;
            margin-right: 10px;
          }
          .icon_logo {
            font-size: 1.6rem;
          }
          .share_text {
            color: white;
            font-size: 1.3rem;
            font-style: italic;
            font-weight: lighter;
          }
        }
      }
      .img_item_new {
        width: 100%;
      }
      .text_new {
        p {
          margin: 0;
          &:first-child {
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 10px;
          }
          &:last-child {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .div_slider {
    position: relative;
    margin-top: 10px;
    @include repon.tablet {
      width: 50%;
    }
    .postion_icon {
      position: absolute;
      top: 50%;
      bottom: 50%;
      transform: translateY(-50%);
      z-index: 9;
      font-size: 5rem;
      background-color: #f2f2f2;
      padding: 10px;
      &:last-child {
        right: 0;
      }
    }
  }
}
