.Info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  width: 1200px;
  margin: auto;

  margin-top: 10px;
  &_img {
    .slider_img {
      display: grid;
      grid-template-columns: 15% 85%;
      grid-gap: 10px;
      .banner {
        background-color: red;
      }
    }
    .slider_img {
      // height: 470px;
    }
  }
}
