@use 'src/style/reponsive' as respon;

.Info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  width: 1200px;
  margin: auto;
  @include respon.mobile {
    grid-template-columns: 1fr;
    width: 400px;
  }
  @include respon.tablet{
    width: 950px;
  }
  margin-top: 10px;
  &_img {
    .slider_img {
      display: grid;
      grid-template-columns: 15% 83%;
      grid-gap: 10px;
      margin-bottom: 10px;
      @include respon.mobile {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: 400px;
      }
      .innerImg {
        @include respon.mobile {
          grid-row: 1/2;
          width: 400px;
        }
      }
      .slider {
        @include respon.mobile {
          display: none;
        }
      }
      .banner {
        background-color: red;
      }
    }
    .slider_img {
      // height: 470px;
    }
    .Info_comment {
      @include respon.mobile {
        width: 400px;
      }
      .text {
        border: 1px solid black;
        font-size: 1.4rem;
        padding: 20px;
      }
      .comment_text {
        p {
          font-size: 1.8rem;
        }
        .icon_star {
          .icon_item {
            margin-right: 2px;
            font-size: 1.4rem;
          }
        }
      }
    }
    .write_comment {
      display: flex;
      justify-content: flex-end;
      @include respon.mobile {
        display: none;
      }
      button {
        height: 40px;
        background-color: #034ea1;
        border: none;
        color: white;
      }
    }
  }
  .content {
    @include respon.mobile {
      width: 400px;
    }
    .title {
      font-size: 1.4rem;
    }
    .ma_sp {
      font-size: 1.4rem;
      color: #a8a3a8;
      span:nth-child(1) {
        font-size: 1.2rem;
      }
    }
    .moeny_span {
      border-bottom: 1px solid #eee;
      padding-bottom: 5px;
      display: flex;
      justify-content: space-between;

      span:nth-child(1) {
        font-size: 1.7rem;
        color: rgb(155, 54, 54);
      }
      span:nth-child(2) {
        color: #bbb7bb;
        font-size: 1.2rem;
        font-style: italic;
      }
    }
    .content_color {
      margin-top: 10px;

      span {
        font-size: 1.2rem;
        margin-right: 28px;
      }
      .img {
        display: inline-flex;
        border: 1px solid red;
        align-items: center;
        padding-right: 5px;
        margin-left: 10px;
        img {
          width: 30px;
          height: 30px;
        }
        span {
          padding-left: 10px;
        }
      }
    }
    .content_size {
      margin-top: 10px;
      display: flex;
      align-items: flex-end;
      & > span:nth-child(1) {
        font-size: 1.2rem;
        margin-right: 20px;
      }
      .list_size {
        span {
          font-size: 1.3rem;
          display: inline-block;
          border: 1px solid black;
          padding: 8px;
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
    .content_total {
      margin-top: 20px;
      span {
        font-size: 1.3rem;
        margin-right: 10px;
      }
    }
    .content_link {
      border-bottom: 1px solid black;
      padding-bottom: 15px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      @include respon.mobile {
        flex-direction: column;
        align-items: center;
      }
      button {
        width: 220px;
        height: 36px;
        cursor: pointer;
      }
      button:nth-child(1) {
        background-color: #f72b3f;
        color: white;
        border: none;
        @include respon.mobile {
          margin-bottom: 10px;
        }
      }
      button:nth-child(2) {
        background-color: rgba(53, 6, 6, 0);
        border: 1px solid black;
      }
    }
    .content_contact {
      display: flex;
      margin-top: 5px;
      justify-content: space-between;
      align-items: center;
      span:nth-child(1) {
        font-size: 1.3rem;
      }
      span:nth-child(2) {
        img {
          height: 15px;
          margin-right: 15px;
        }
      }
    }
  }
}
