@use 'src/style/reponsive' as repon;
.ChangeFree {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 10px;
  @include repon.desktop {
    width: 1200px;
    margin: auto;
  }
  .iconChevron {
    font-size: 3rem;
  }
  .slideText {
    // overflow: auto;
  }
  .changeText {
    justify-self: center;
    text-align: center;
    p {
      margin: 5px;
      &:first-child {
        font-size: 1.8rem;
        font-weight: bold;
      }
      &:last-child {
        font-size: 1.2rem;
      }
    }
  }
}
