.fullSize {
  display: flex;
  flex-wrap: wrap;
  p {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: black;
      color: white;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.fullColor {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  p {
    border: 1px solid #eee;
    cursor: pointer;
    background-color: red;
    padding: 15px;
    border-radius: 20px;
    margin-right: 10px;
  }
}

.clickSize {
  background-color: black;
  color: white;
}
